.table-card{

background:white;

padding:25px;

border-radius:var(--radius);

box-shadow:var(--shadow);

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

th{

background:#fafafa;

padding:16px;

text-align:left;

}

td{

padding:16px;

border-bottom:1px solid #eee;

}

tr:hover{

background:#fafcff;

}